---
import { ViewTransitions } from "astro:transitions";
import Header from "@/components/Header.astro";
// Supports weights 100-900
import "@fontsource-variable/anybody";
import "@fontsource/roboto";
import "../app.css";
import { getLangFromUrl } from "@/i18n/utils";
import { SEO } from "astro-seo";
interface Props {
  title: string;
  seoTitle: string;
  seoDesc: string;
}

const { title, seoTitle, seoDesc } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="dark">
  <head>
    <SEO title={seoTitle} description={seoDesc} />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="preload" />
    <ViewTransitions />
  </head>
  <body class="bg-secondColor text-textColor">
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
